lightning-utilities==0.9.0
numpy==1.24.4
pandas==2.0.3
Pillow==10.1.0
pytorch-lightning==2.1.0
PyYAML==6.0.1
requests==2.31.0
torch==2.1.0
torchmetrics==1.2.0
torchvision==0.16.0
tqdm==4.66.1
ttkthemes==3.2.2
urllib3==2.0.7
wget==3.2
yarl==1.9.2
